footer {
    min-height: 720px;
    background-color: #E8F4F2;
    padding-top: calc(28% + 120px);
}
footer .logo {
}
footer .container {
    max-width: 1360px;
}
.website-link {
    margin-right: 40px;
}
.website-link img {
    width: 48px;
    margin-top: 23px;
}
.website-link:last-child {
    margin-right: 0;
}
footer .info .title {
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    margin: 30px 0;
    color: var(--text-black);
}
footer .info .item {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: var(--text-light);
    margin-bottom: 13px;
}
footer .info .item a {
    color: var(--text-light);
    text-decoration: none;
}
footer .info .item a:hover {
    text-decoration: none;
}
@media (min-width: 1360px) {
    footer {
        padding-top: 360px;
    }
    footer .container {
        width: 1360px;
    }
}
