footer, .footer-content {
    background-color: #E8F4F2;
}
.footer-content {
    padding-top: calc(28% + 120px);
}
.footer-content .logo {
}
.footer-content .container {
    max-width: 1360px;
}
.website-link {
    margin-right: 40px;
}
.website-link img {
    width: 48px;
    margin-top: 23px;
}
.website-link:last-child {
    margin-right: 0;
}
.footer-content .info .title {
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    margin: 30px 0;
    color: var(--text-black);
}
.footer-content .info .item {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: var(--text-light);
    margin-bottom: 13px;
}
.footer-content .info .item a {
    color: var(--text-light);
    text-decoration: none;
}
.footer-content .info .item a:hover {
    text-decoration: none;
}
@media (min-width: 1360px) {
    .footer-content {
        padding-top: 360px;
    }
    .footer-content .container {
        width: 1360px;
    }
}
@media screen and (max-width: 1360px) {
    .footer-content {
        padding-top: 120px;
    }
}
.copy-right {
    background: var(--black);
    text-align: center;
    font-weight: normal;
    font-size: 10px;
    line-height: 30px;
    color: white;
}
.footer-content .footer-logo, .social-icons {
    text-align: center;
}
.social-icons {
    margin-bottom: 60px;
}
