.mobile-menu a {
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
}
.mobile-menu a:hover {
    opacity:0.5;
    text-decoration: none;
}
.mobile-menu ul {
    padding: 0;
    list-style-type: none;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 25px;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 52;
}

#menuToggle span
{
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 55;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(3)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(4)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    position: absolute;
    right: -28px;
    top: 24px;
    width: 70vw;
    display: none;
    z-index: 51;
    height: calc(2px + 100vh);
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 125px 50% 100%;
    border-radius: 30px 0px 0px 30px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(120%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.mobile-menu #background {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: -60px;
    left: -100vw;
    width: calc(100vw + 60px);
    height: calc(100vh + 38px);
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
}

#menu li
{
    padding: 10px 0;
    transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
    transform: none;
    display: block;
}
#menuToggle input:checked ~ #background {
    opacity: 1;
    visibility: visible;
}

.mobile-menu #menu .full-width {
    position: relative;
}
.mobile-menu #menu .full-width .phone-call {
    position: absolute;
    top: -17px;
    left: -55px;
    width: 70vw;
    border-radius: 0;
    text-align: center;
    color: white;
}
.mobile-menu #menu img {
    margin-right: 22px;
}
.mobile-menu #menu img:last-child {
    margin-right: 0;
}
